<div class="container">
    <div class="middle">
        <h2>{{hero.name| uppercase}} Details Pages</h2>
    </div>
    <div class="pfp-div">
        <img id="pfp"
            src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg"
            alt="">
    </div>
    <div class="name">
        <p>
            Hero name:

        </p>
        <p>
            {{hero.name}}
        </p>
    </div>
    <div class="name">
        <p>
            Powers:
        </p>

        <p>
            {{hero.power}}
        </p>
    </div>
    <div class="name">
        <p>
            Contact:
        </p>

        <p>
            {{hero.contact}}
        </p>
    </div>
</div>